# Application requirements
flask==1.1.0
flask-restplus==0.12.1
pytest-flask==0.14.0
freezegun==0.1.11
delorean==1.0.0
faker==1.0.7
json5==0.9.6
jsonschema==4.4.0
kafka==1.3.5
kafka-python==2.0.2
pyjwt==1.7.1
cryptography==2.6.1
parse==1.12.0
psycopg2==2.8.2
sseclient==0.0.27
Werkzeug==0.16.1
jinja2<3.1.0
